<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Invoice</title>
</head>
<body>
    <p>Dear, {{nama_depan}}</p>
    <p>Gunakan QR code ini untuk menghadiri event:</p>
    <p>
        {{event_name}}
    </p>
    <p>
        {{starting_date}}
    </p>
    <p>
        {{author}}
    </p>
    <p>
        {{location}}
    </p>
    <p>
        {{admission}}
    </p>
    <img src="{{QR}}" alt="">
    <p>
        Regards, <br>
        Mitrapabrik Team
    </p>
</body>
</html>