<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Forgot Password</title>
</head>
<body>
    <p>Dear, {{nama_lengkap}} </p>
    <p>silahkan mengganti password anda ke yang baru pada halaman profile
        copy paste password dibawah ini untuk login ke akun anda
        password : {{password_nohash}}</p>
    <p>
        Regards, <br>
        Mitrapabrik Team
    </p>
</body>
</html>