<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Email</title>
</head>
<body>
    <p>Dear, {{nama_depan}} {{nama_belakang}} </p>
    <p>Silahkan verifikasi email anda dengan menekan <a href="{{verifyLink}}">link ini</a></p>
    <p>
        Regards, <br>
        Mitrapabrik Team
    </p>
</body>
</html>